#
#
universe = vanilla

executable = {{pyscript.parent / "poet.sh"}}
arguments = $(job_nr) $(first_file) $(last_file)

should_transfer_files = YES
transfer_input_files = {{pyscript}}, {{pyscript.parent / "sandbox.tar.gz"}}, {{pyscript.parent / "file_index.txt"}}, {{metadata}}, {{metadata.parent / "merge_tree"}}, {{pyscript.parent.parent.parent / "conddb.tar.gz"}}
transfer_output_files = metadata.json
transfer_output_remaps = "metadata.json = {{pyscript.parent.parent / "output/metadata_$(job_nr).json"}}"

output = {{log_location}}/{{dataset}}_$(Cluster)-$(Process).out
error = {{log_location}}/{{dataset}}_$(Cluster)-$(Process).err
log =  {{log_location}}/{{dataset}}_$(Cluster).log

+DESIRED_SITES = "{{','.join(sites)}}"

+SingularityImage = "{{singularity}}"


Queue job_nr first_file last_file from (
{% for j in jobs -%}
{{j.id}} {{j.first_file}} {{j.last_file}}
{% endfor -%}
)
